RewriteEngine On

# permitir acesso direto ao setup.php
RewriteCond %{REQUEST_URI} !^/database/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]